/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    /* CSS */
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    .navbar{
        justify-content: center;
        
    }

    
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1028px) {
    
    .navbar{
        justify-content: center;
        
    }
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    .navbar{
        justify-content: center;
        
    }
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    .navbar{
        justify-content: center;
        
    }
    
    

  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 1033px) {
    
    .navbar{
      justify-content: center;   
    }

    .navbar .menu{
      flex-wrap: wrap;
    }
    
    .hero-text{
        font-size: 2.5em;
        margin-left: 1.3rem;
        text-align: center;
    }

    .hero-description p{
        font-size: 1em;
        margin: 80px 1rem;
        text-align: center;
    }

    .container-about, .container-skills, .project-box, .container-contato{
        flex-direction: column;
        
    }
    
    .container-about {
      padding-top: 5rem;
      padding-bottom: 1rem;
    }

    .about-left{
      margin: 0%;
    }
    .container-about p{
        font-size: 1rem;
        margin: 1rem;
        text-align: center;
      
    }

    .btn-about{
        justify-content: center;
    }

    .container-skills{
        align-items: center;
    }

    .container-skills .language-box{
        margin: 1rem;
    }

    section#projects .project-box{
      width: 90%;
      height: 100%;
      padding-bottom: 3rem;
  
    }

    

    section#contato .contato-text{
      padding: 0;
      border-right: 0px;
    }

    section#contato .contato-text p{
      font-size: 1rem;
      margin: 1rem;
      text-align: center;
    }

    section#contato .meios-contato{
      margin: 0;
      
    }
    
    
  }