@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    background: #E7E7E7;
    
}

img{
    width: 200px;
    height: 200px;
}

.bg{
    max-width: 1000px;
    margin: 0 auto;
    
}

.navbar{
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    justify-content: space-around;
    
    
    
}

.navbar .menu{
    display: flex;
    justify-content: space-around;
    width: 30%;
    height: 70px;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2em;
    margin-top: 40px;
    
    
}

.menu a{
    text-decoration: none;
    color: grey;
    font-size: 20px;
    font-weight: 300;
    
    padding-top: 5px;
    
    
}

.navbar .menu a:hover{
    color: #577399;
    text-decoration: none;
    border-top: 2px solid #577399;
    
}


.header{
    
    display: flex;
    justify-content: center;
    height: 80vh;
    align-items: center;
    
}

.hero-container{
    display: inline-block;
}

.hero-text{
    font-family: 'Roboto Mono', monospace;
    font-size: 4em;
    font-weight: 900;
    color: #577399;
    margin-bottom: 50px;
   
    
}

#nome{
    display: inline-block;
}

.hero-description p{
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 1.3em;
    line-height: 40px;
    color: #525f7f;
    margin: 80px 0;
}

.title{
    width: 100%;
    text-align: center;
    
    
}


.title h1{
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 2.5em;
    color: #000;
    margin-bottom: 50px;
    margin-top: 50px;
    padding-bottom: 1rem;
    border-bottom: 5px solid #577399;
    text-align: center;
}

h2{
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 2.5em;
    color: #000;
    
    
    border-bottom: 5px solid #577399;
    text-align: center;
}



.about{
    display: block;
    padding-top: 5rem;
    text-align: center;
    
}	

.container-about{
    display:flex;
    align-items: center;
    padding: 10rem 0;


}

.about-left{
    margin-right: 1rem;
    
}

.about-right{
    flex: 50%;
    text-align: start;
}

.about-right p{
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 1.3em;
    line-height: 40px;
    color: #525f7f;
    
}

.btn-about{
    display: flex;
    
    gap: 1rem;
    
}

.btn-about a{
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    font-size: 1em;
    color: rgb(211, 211, 211);
    text-decoration: none;
    padding: 1rem 2rem;
    background: rgb(44,103,182);
    background: linear-gradient(90deg, rgba(44,103,182,1) 0%, rgba(93,120,156,1) 100%);
    border-radius: 2rem;
    transition: 0.3s;

}

#donwload-btn{
    background-image: none;
    border: 0.1rem solid #577399;
    color: #577399;
}

.btn-about a:hover{
    transform: scale(0.95);
    
    
}


section#habilidades{
    margin-top: 20rem;
    text-align: center;
}


