@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    background: #E7E7E7;
    
}

img{
    width: 200px;
    height: 200px;
}

.bg{
    max-width: 1000px;
    margin: 0 auto;
    
}

.navbar{
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    justify-content: space-around;
    
    
    
}

.navbar .menu{
    display: flex;
    justify-content: space-around;
    width: 30%;
    height: 70px;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2em;
    margin-top: 40px;
    
    
}

.menu a{
    text-decoration: none;
    color: grey;
    font-size: 20px;
    font-weight: 300;
    
    padding-top: 5px;
    
    
}

.navbar .menu a:hover{
    color: #577399;
    text-decoration: none;
    border-top: 2px solid #577399;
    
}


.header{
    
    display: flex;
    justify-content: center;
    height: 80vh;
    align-items: center;
    
}

.hero-container{
    display: inline-block;
}

.hero-text{
    font-family: 'Roboto Mono', monospace;
    font-size: 4em;
    font-weight: 900;
    color: #577399;
    margin-bottom: 50px;
   
    
}

#nome{
    display: inline-block;
}

.hero-description p{
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 1.3em;
    line-height: 40px;
    color: #525f7f;
    margin: 80px 0;
}

.title{
    width: 100%;
    text-align: center;
    
    
}


.title h1{
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 2.5em;
    color: #000;
    margin-bottom: 50px;
    margin-top: 50px;
    padding-bottom: 1rem;
    border-bottom: 5px solid #577399;
    text-align: center;
}

h2{
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 2.5em;
    color: #000;
    
    
    border-bottom: 5px solid #577399;
    text-align: center;
}



.about{
    display: block;
    padding-top: 5rem;
    text-align: center;
    
}	

.container-about{
    display:flex;
    align-items: center;
    padding: 10rem 0;


}

.about-left{
    margin-right: 1rem;
    
}

.about-right{
    flex: 50%;
    text-align: start;
}

.about-right p{
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 1.3em;
    line-height: 40px;
    color: #525f7f;
    
}

.btn-about{
    display: flex;
    
    gap: 1rem;
    
}

.btn-about a{
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    font-size: 1em;
    color: rgb(211, 211, 211);
    text-decoration: none;
    padding: 1rem 2rem;
    background: rgb(44,103,182);
    background: linear-gradient(90deg, rgba(44,103,182,1) 0%, rgba(93,120,156,1) 100%);
    border-radius: 2rem;
    transition: 0.3s;

}

#donwload-btn{
    background-image: none;
    border: 0.1rem solid #577399;
    color: #577399;
}

.btn-about a:hover{
    transform: scale(0.95);
    
    
}


section#habilidades{
    margin-top: 20rem;
    text-align: center;
}

section#habilidades .habilidades-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10rem 0;
}

section#habilidades .language-box{
    display: flex;
    text-align: center;
    background: rgb(44,103,182);
    background: linear-gradient(90deg, rgba(44,103,182,1) 0%, rgba(93,120,156,1) 100%);
    width: 10rem;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


section#habilidades .language-box h3{
    margin-top: 1rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    
}

section#habilidades .language-box img{
    width: 5rem;
    height: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #577399;
}

section#habilidades .language-box:hover{
    transform: scale(1.25);
}

.anchor {
    position: absolute;
    transform: translateY(15vh);
}


section#projects{
    margin-top: 20rem;
    text-align: center;
}

section#projects .projects-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 10rem 0;
    
    
}

section#projects .project-box{
    display: flex;
    border: 1px solid #577399;
    width: 50rem;
    margin: 3rem;
    align-items: center;
}

section#projects .project-box img{
    flex: 40%;
}

section#projects .project-box-text{
    flex: 60%;
    text-align: left;
    margin: 0 2rem;
}


